h1 {
    color:aqua;
}

h2 {
    color:deepskyblue;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(#6603fc,#0356fc);
}